root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
# при використанні tab — indent_size може бути "tab" або конкретне число
indent_size = tab
max_line_length = 110

[*.{js,jsx,ts,tsx,json,css,scss,html,md}]
# додатково для кодових файлів — тримати однакові правила
indent_style = tab
indent_size = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2
